:root {
  --md-admonition-icon--corollary: url('../../icons/chicon.svg');
}

.md-typeset .admonition.corollary,
.md-typeset details.corollary {
  border-color: rgb(239, 171, 20);
}
.md-typeset .corollary > .admonition-title,
.md-typeset .corollary > summary {
  background-color: rgba(239, 171, 20, 0.1);
}
.md-typeset .corollary > .admonition-title::before,
.md-typeset .corollary > summary::before {
  background-color: rgb(239, 171, 20);
  -webkit-mask-image: var(--md-admonition-icon--corollary);
          mask-image: var(--md-admonition-icon--corollary);
}