:root {
  --md-admonition-icon--example: url('../../icons/epsicon.svg');
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgb(124, 77, 255);
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(124, 77, 255, 0.1);
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(124, 77, 255);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}