:root {
  --md-admonition-icon--remark: url('../../icons/omicon.svg');
}

.md-typeset .admonition.remark,
.md-typeset details.remark {
  border-color: rgb(250, 56, 224);
}
.md-typeset .remark > .admonition-title,
.md-typeset .remark > summary {
  background-color: rgba(250, 56, 224, 0.1);
}
.md-typeset .remark > .admonition-title::before,
.md-typeset .remark > summary::before {
  background-color: rgb(250, 56, 224);
  -webkit-mask-image: var(--md-admonition-icon--remark);
          mask-image: var(--md-admonition-icon--remark);
}